$primary-color: #FF6665;
$secondary-color: #01D1C1;

$background-color: #FEF2F2;
$background-detail-color: #FFF;

$text-primary-color: #000;
$text-white: #fff;

$hamburger-color: #000000;
$mobileNav-background: #585555;