$primary-color: #78D0D3;
$secondary-color: #403D52;

$background-color: #F2EFEF;
$background-detail-color: #FFF;

$text-primary-color: #000;
$text-white: #fff;

$hamburger-color: #000000;
$mobileNav-background: rgba(88,85,85,0.9);