$font-main: "sans-serif";

$font-normal: 14px;
$font-mobile: 17px;
$header-fontSize: $font-normal * 3;
$subheader-fontSize: $font-normal * 2;
$title-fontSize: $font-normal * 1.5;
$icon-fontSize: $font-normal * 0.8;
$button-fontSize: $font-normal * 0.8;
$paragraph-fontSize: $font-normal;
$label-fontSize: $font-normal * 0.8;
$icon-size: $font-normal;



