@import './../../../styles/main-styles';

.image-icon {
  width: size(16);
  height: 100%;
  max-height: 128px;
  margin: size(1);
  transition: transform ease-out 0.2s;


  &:hover {
    transition: transform ease-out 0.2s;
    transform: translateY(-1*size(1));

    ~ .image__label {
      transition: transform ease-out 0.2s;
      transform: translateY(size(1));
    }
  }

  ~ .image__label {
    transition: transform ease-out 0.2s;

  }
}
