@import './../../styles/main-styles';

.technology-view {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;

  &__logos-grid{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}
