@import './../../../styles/main-styles';

.responsive-page-container {
  width: 100%;
  padding: 0 5%;
  height: 100%;

  &--default {
    background-color: $background-color;
  }

  &--dark {
    background-color: $secondary-color;
  }

  @include mobile {
    margin: 0;
    padding: 0 10%;
  }

  @include tablet {
    padding: 0 $tabletPadding;
    height: 100%;
  }

  @media screen and (max-width: $tablet) {

  }
}
