@import './../../../styles/main-styles';

.button {
  box-sizing: border-box;
  border: 0.2rem solid $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80px;
  min-width: 150px;
  padding: 20px 30px;
  border-radius: 20px;
  cursor: pointer;

  &--default {
    color: black;
    background-color: $primary-color;
  }

  &--icon {
    padding: unset;
    min-width: unset;
    border: 1px solid transparent;
    border-radius: 100%;
    background: black;
    color: white;
    height: 40px;
    width: 40px;
  }

  &--text {
    background-color: transparent;
    border: none;
  }

  &--outlined {
    background-color: transparent;
    border: 0.2rem solid $primary-color;

    &-hover {
      background-color: transparent;
      border: 0.2rem solid $primary-color;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: $primary-color;
        transition: background-color 0.2s linear;
      }
    }
  }

  &--filled-hover {
    &:hover {
      background-color: transparent;
      transition: background-color 0.2s linear;
    }
  }
}
